html,
body {
  font-size: 15px;
  font-family: "PingFang TC", "メイリオ", "Noto Sans Korean", sans-serif;
}

.divider {
  margin: 16px 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  html,
  body {
    margin: 0;
    font-size: 10px;
  }
}
