html {
  font-family: "PingFang TC", "メイリオ", "Noto Sans Korean", sans-serif;
}

.divider {
  margin: 16px 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  margin: 0 auto;
  text-align: center;
}
