<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>
    <link rel="stylesheet" href="css/material-icons.css">
</head>

<body>
    <div id="app">
        <!-- <mu-appbar></mu-appbar> -->
        <mu-container>
            <mu-row class="nav" gutter>
                <mu-col span="4">
                    <mu-select @change="getImages" label="Uploader" v-model="uploader" full-width>
                        <mu-option v-for="user,index in uploaders" avatar :key="user.owner" :label="user.owner" :value="user.owner">
                            <mu-list-item-action avatar>
                                <mu-avatar :size="36" color="primary">
                                    {{ user.owner.substring(0, 1).toUpperCase() }}
                                </mu-avatar>
                            </mu-list-item-action>
                            <mu-list-item-content>
                                <mu-list-item-title>{{ user.owner }}</mu-list-item-title>
                                <mu-list-item-action>
                                    <mu-list-item-after-text>{{ user.amount }}</mu-list-item-after-text>
                                </mu-list-item-action>
                            </mu-list-item-content>
                        </mu-option>
                    </mu-select>
                </mu-col>
                <!-- <mu-col span="4">
                    <mu-date-input @change="getImages" label="Start date" v-model="startDate" full-width :date-time-format="customDateFormat"></mu-date-input>
                </mu-col>
                <mu-col span="4">
                    <mu-date-input @change="getImages" label="End date" v-model="endDate" full-width :date-time-format="customDateFormat"></mu-date-input>
                </mu-col> -->
            </mu-row>
            <mu-row>
                <mu-col span="6" md="4" v-for="img in images">
                    <a :href="img.ORIGIN_URL" target="_blank">
                        <mu-card>
                            <mu-card-media :title="img.OWNER" :sub-title="img.REG_DATE.substring(0,10)">
                                <vue-load-image>
                                    <img slot="image" :src="img.thumb"/>
                                    <img slot="preloader" src="https://user-images.githubusercontent.com/11649322/63584919-eb221d00-c5d8-11e9-9e12-1827d76bd118.gif"/>
                                </vue-load-image>
                            </mu-card-media>
                        </mu-card>
                    </a>
                </mu-col>
            </mu-row>
        </mu-container>
        <mu-container>
            <mu-flex justify-content="center">
                <mu-pagination @change="getImagesPage" :total="imagesTotal" :current.sync="imagesCurrentPage" :page-size="12"></mu-pagination>
            </mu-flex>
        </mu-container>
        <mu-container>
            <mu-paper :z-depth="1">
                <h2>Patch logs</h2>
                <ul>
                    <b>2019-08-27</b>
                    <li>
                        업로더에서 All항목을 추가하였습니다.<br>
                        アップローダーでAll項目を追加しました。
                    </li>
                    <li>
                        디스코드 채널에서 업로드 한 스크린샷이 실시간으로 반영됩니다.<br>
                        ディスコードチャンネルでアップロードしたスクリーンショットがリアルタイムで反映されます。
                    </li>
                </ul>
            </mu-paper>
        </mu-container>
    </div>
</body>

<script src="js/gallery.js"></script>

</html>